$bp-hover: 'screen and (hover: hover)';

// sm breakpoint
$bp1-maxValue: 430px;
$bp1-only: 'screen and (max-width: #{$bp1-maxValue})';

// md breakpoint
$bp2-minValue: 430.02px;
$bp2-maxValue: 1023.98px;
$bp2-min: 'screen and (min-width: #{$bp2-minValue})';
$bp2-max: 'screen and (max-width: #{$bp2-maxValue})';
$bp2-only: 'screen and (min-width: #{$bp2-minValue}) and (max-width: #{$bp2-maxValue})';

// lg breakpoint
$bp3-minValue: 1024px;
$bp3-maxValue: 1280px;
$bp3-min: 'screen and (min-width: #{$bp3-minValue})';
$bp3-max: 'screen and (max-width: #{$bp3-maxValue})';
$bp3-only: 'screen and (min-width: #{$bp3-minValue}) and (max-width: #{$bp3-maxValue})';

// xl breakpoint
$bp4-minValue: 1280.02px;
$bp4-maxValue: 1440px;
$bp4-min: 'screen and (min-width: #{$bp4-minValue})';
$bp4-max: 'screen and (max-width: #{$bp4-maxValue})';
$bp4-only: 'screen and (min-width: #{$bp4-minValue}) and (max-width: #{$bp4-maxValue})';

// 2xl breakpoint
$bp5-minValue: 1440.02px;
$bp5-maxValue: 1919.98px;
$bp5-min: 'screen and (min-width: #{$bp5-minValue})';
$bp5-max: 'screen and (max-width: #{$bp5-maxValue})';
$bp5-only: 'screen and (min-width: #{$bp5-minValue}) and (max-width: #{$bp5-maxValue})';

// 3xl breakpoint
$bp6-minValue: 1920px;
$bp6-maxValue: 2559.98px;
$bp6-min: 'screen and (min-width: #{$bp6-minValue})';
$bp6-max: 'screen and (max-width: #{$bp6-maxValue})';
$bp6-only: 'screen and (min-width: #{$bp6-minValue}) and (max-width: #{$bp6-maxValue})';

// 4xl breakpoint
$bp7-minValue: 2560px;
$bp7-only: 'screen and (min-width: #{$bp7-minValue})';

@function bp-range($min, $max) {
  @return $min + str-slice($max, 7);
}
