@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 430.02,
  md: 1024,
  lg: 1280.02,
  xl: 1440.02,
  xxl: 1920,
  xxxl: 2560,
);

// xs breakpoint
$bp1-xs-min-width: map.get($breakpoints, xs);
$bp1-xs-max-width: map.get($breakpoints, sm) - 0.02;
$bp1-xs-only: '(max-width: #{$bp1-xs-max-width}px)';

// sm breakpoint
$bp2-sm-min-width: map.get($breakpoints, sm);
$bp2-sm-max-width: map.get($breakpoints, md) - 0.02;
$bp2-sm-min: '(min-width: #{$bp2-sm-min-width}px)';
$bp2-sm-max: '(max-width: #{$bp2-sm-max-width}px)';
$bp2-sm-only: '(min-width: #{$bp2-sm-min-width}px) and (max-width: #{$bp2-sm-max-width}px)';

// md breakpoint
$bp3-md-min-width: map.get($breakpoints, md);
$bp3-md-max-width: map.get($breakpoints, lg) - 0.02;
$bp3-md-min: '(min-width: #{$bp3-md-min-width}pxpx)';
$bp3-md-max: '(max-width: #{$bp3-md-max-width}pxpx)';
$bp3-md-only: '(min-width: #{$bp3-md-min-width}pxpx) and (max-width: #{$bp3-md-max-width}pxpx)';

// lg breakpoint
$bp4-lg-min-width: map.get($breakpoints, lg);
$bp4-lg-max-width: map.get($breakpoints, xl) - 0.02;
$bp4-lg-min: '(min-width: #{$bp4-lg-min-width})';
$bp4-lg-max: '(max-width: #{$bp4-lg-max-width})';
$bp4-lg-only: '(min-width: #{$bp4-lg-min-width}) and (max-width: #{$bp4-lg-max-width})';

// xl breakpoint
$bp5-xl-min-width: map.get($breakpoints, xl);
$bp5-xl-max-width: map.get($breakpoints, xxl) - 0.02;
$bp5-xl-min: '(min-width: #{$bp5-xl-min-width}px)';
$bp5-xl-max: '(max-width: #{$bp5-xl-max-width}px)';
$bp5-xl-only: '(min-width: #{$bp5-xl-min-width}px) and (max-width: #{$bp5-xl-max-width}px)';

// 2xl breakpoint
$bp6-xxl-min-width: map.get($breakpoints, xxl);
$bp6-xxl-max-width: map.get($breakpoints, xxxl) - 0.02;
$bp6-xxl-min: '(min-width: #{$bp6-xxl-min-width}px)';
$bp6-xxl-max: '(max-width: #{$bp6-xxl-max-width}px)';
$bp6-xxl-only: '(min-width: #{$bp6-xxl-min-width}px) and (max-width: #{$bp6-xxl-max-width}px)';

// 3xl breakpoint
$bp7-xxxl-min-width: map.get($breakpoints, xxxl);
$bp7-xxxl-only: '(min-width: #{$bp7-xxxl-min-width}px)';

// hover
$bp-hover: '(hover: hover)';

@function bp($args...) {
  $result: 'screen';

  @each $arg in $args {
    $result: #{$result} + ' and ' + #{$arg};
  }

  @return $result;
}
