@import 'normalize';
@import 'variables';
@import 'breakpoints';

html,
body {
  color: var(--color-black);
  background-color: var(--color-white);
}

html {
  @include media((
    fluid-typography: (
      xs-sm: (0, 16),
      sm-md: (16, 10),
      lg-xl: (10, 17),
      xl-xxl: (17, 22),
    ),
  ));
}
