{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order/error"],
  "plugins": ["stylelint-order", "stylelint-no-unsupported-browser-features"],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "error",
        "ignore": [
          "css-touch-action",
          "text-size-adjust",
          "css-math-functions",
          "css-nesting",
          "css-when-else",
          "pointer"
        ],
        "ignorePartialSupport": true
      }
    ],
    "selector-class-pattern": [
      "^([a-z]+[A-Z0-9]?[a-z]*)+$",
      {
        "message": "Expected custom property name to be camelCase"
      }
    ],
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["inset"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested", "blockless-after-blockless"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else"]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "order/order": [
      "custom-properties",
      "dollar-variables",
      {
        "type": "at-rule",
        "name": "extend"
      },
      "declarations",
      "rules",
      {
        "type": "at-rule",
        "name": "include",
        "parameter": "media"
      }
    ]
  }
}
