{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-clean-order/error"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "error",
        "ignore": [
          "css-touch-action",
          "text-size-adjust",
          "css-math-functions",
          "css-nesting",
          "pointer"
        ],
        "ignorePartialSupport": true
      }
    ],
    "selector-class-pattern": [
      "^([a-z]+[A-Z0-9]?[a-z]*)+$",
      {
        "message": "Expected custom property name to be camelCase"
      }
    ],
    "declaration-empty-line-before": [
      "never",
      {
        "ignore": [
          "after-comment",
          "after-declaration",
          "inside-single-line-block"
        ]
      }
    ],
    "declaration-block-no-redundant-longhand-properties": [true, {
      "ignoreShorthands": ["inset"]
    }],
    "at-rule-empty-line-before": ["always", {
      "ignore": ["after-comment", "first-nested", "blockless-after-blockless"],
      "ignoreAtRules": ["else"]
    }]
  }
}
